.block--blog-highlights {
  margin-top: $gutter-64;
  max-width: 93.75em;
  width: 100%;
  .view-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin-top: 2em;
    @media only screen and (min-width: $medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  img {
    height: auto;
    width: 100%;
  }
  .view-footer {
    margin-top: 3em;
  }
}
