@import "variables";
@import "mixins";

:root.light {
  --bg-color: #fff;
  --text-color: #333;
  --logo-color: #000;
  --header-gradient-first-color: #E6CAFC;
  --header-gradient-second-color: #BBC9F7;
  --skip-link-bg-color: #fff;
  --skip-link-text-color: #033573;
  --code-block-bg-color: #DFE7FC;
  --code-block-border-color: #BBC9F7;
}

:root.dark {
  --bg-color: #010017;
  --text-color: #CFCFCF;
  --logo-color: #fff;
  --header-gradient-first-color: #35035E;
  --header-gradient-second-color: #18399A;
  --skip-link-bg-color: #000;
  --skip-link-text-color: #ade5f8;
  --code-block-bg-color: #070038;
  --code-block-border-color: #18399A;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  .header-wrapper {
    background: linear-gradient(to right, var(--header-gradient-first-color) 0%, var(--header-gradient-second-color) 50%, var(--header-gradient-first-color) 100%);
  }

  .site-name,
  .site-slogan {
    color: var(--logo-color);
  }

  .skip-link.visually-hidden.focusable:active,
  .skip-link.visually-hidden.focusable:focus {
    background: var(--logo-color);
    color: var(--skip-link-text-color);
  }
}

/**
 * Dark preference
 */
body.dark {

  // Reset some of the AMM styles, menu styles
  .accessible-megamenu .accessible-megamenu-panel,
  .mobile-menu-toggle[aria-expanded="true"] + ul.menu--level-1 {
    background-color: transparent !important;
    @media only screen and (min-width: $medium) {
      background-color: $dark_complementary !important;
    }
  }
  .accessible-megamenu > .accessible-megamenu-top-nav-item {
    background-color: transparent !important;
  }
  .accessible-megamenu-toggle {
    background: transparent;
    //border: 1px solid $dark_grey;
  }
  .accessible-megamenu-toggle > span:not(.sr-only) {
    background: white !important;
  }
  #main-menu {
    ul.menu {
      li {
        > ul {
          @media only screen and (min-width: $narrow) {
            background-color: $dark_complementary;
            border: 2px solid $dark_grey;
          }
        }
      }
    }
  }

  .color-wrapper {
    select {
      &:hover {
        outline: 5px solid $dark_grey;
        outline-offset: 2px;
      }
      &:focus {
        outline: 5px dashed $dark_grey;
        outline-offset: 2px;
      }
    }
  }

  .layout-container a {
    @include transition(color 0.5s ease);
    color: $dark_link;
    text-decoration-color: $dark_link;
    &:hover {
      @include transition(color 0.5s ease);
      color: $dark_link_hover;
      text-decoration-color: $dark_link_hover;
    }
    &:focus {
      border-bottom: 2px solid $dark_link_hover;
      border-top: 2px solid $dark_link_hover;
      color: $dark_link_hover;
      outline: none;
      padding: 5px 0;
      text-decoration: none;
    }
  }
  .menu__link--button {
    &:focus {
      border-bottom: none;
      color: #a8004f;
      outline: none;
      padding-bottom: 1em;
    }
    &.menu__link--active-trail {
      color: #a8004f;
      text-decoration: underline;
      text-decoration-color: #a8004f;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
  #main-menu {
    a.menu__link {
      @include transition(color 0.5s ease);
      color: white;
      &.is-active {
        @include transition(color 0.5s ease);
        color: $dark_link;
        text-decoration: underline;
        text-decoration-color: $dark_link;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
      &:hover {
        @include transition(color 0.5s ease);
        color: $dark_link_hover;
        text-decoration: underline;
        text-decoration-color: $dark_link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
      &:focus {
        @include transition(color 0.5s ease);
        color: $dark_link_hover;
      }
      &.menu__link--level-1:hover {
        text-decoration: underline;
        text-decoration-color: $dark_link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
      &:focus {
        outline: 2px solid $dark_link_hover;
        outline-offset: -2px;
      }
      &.menu__link--level-2:focus {
        border: none;
        font-weight: normal;
        outline-offset: 2px;
        padding: 0;
      }
    }

    .menu__link--button {
      @include transition(color 0.5s ease);
      color: white;
      &:hover,
      &:focus {
        @include transition(color 0.5s ease);
        color: $dark_link_hover;
      }
      &.menu__link--level-1:hover {
        text-decoration: underline;
        text-decoration-color: $dark_link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
      &:focus {
        outline: 2px solid $dark_link_hover;
        outline-offset: -2px;
      }
      &.menu__link--active-trail {
        @include transition(color 0.5s ease);
        color: $dark_link;
        text-decoration: underline;
        text-decoration-color: $dark_link;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        &:hover,
        &:focus {
          @include transition(color 0.5s ease);
          color: $dark_link_hover;
          text-decoration: underline;
          text-decoration-color: $dark_link;
          text-decoration-thickness: 2px;
          text-underline-offset: 6px;
        }
        &:focus {
          outline: 2px solid $dark_link_hover;
          outline-offset: -2px;
        }
      }
    }
  }
  .layout-container a[href^="https://"]:after
  {
    background-image: url(../images/icons8-external-link-white.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
  }
  blockquote {
    border-left: 4px solid $dark_link;
  }
  cite {
    color: $dark_grey;
  }
  code {
    color: $dark_text;
  }
  footer {
    background-color: #18032B;
  }

  .js-form-type-textfield,
  .js-form-type-email,
  .js-form-type-password {
    input {
      color: black;
    }
  }
  .js-form-type-textarea {
    textarea {
      color: black;
    }
  }

  .webform-button--submit,
  .js-form-submit {
    @include transition(background-color 0.5s ease);
    background-color: $dark_button;
    border: none;
    color: black;
    &:focus,
    &:hover {
      @include transition(background-color 0.5s ease);
      background-color: $dark_link_hover;
      text-decoration: underline;
      text-decoration-color: black;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;

    }
  }

  .field--name-field-source-material {
    background-color: $dark_complementary;
    border: 5px solid #18399A;
  }

  .code-container {
    border: 1px solid $dark_grey;
    border-radius: 5px;
    padding: 1em;
  }
}
body.dark.path-sitemap {
  .menu-item--expanded {
    list-style-image: url("../images/menu-expanded.png");
  }
}

/**
 * Light preference
 */
body.light {
  // Reset some of the AMM styles, menu styles
  .accessible-megamenu .accessible-megamenu-panel,
  .mobile-menu-toggle[aria-expanded="true"] + ul.menu--level-1 {
    background-color: transparent !important;
    @media only screen and (min-width: $medium) {
      background-color: $light !important;
    }
  }
  .accessible-megamenu-toggle {
    background: transparent;
    //border: 1px solid $grey;
  }
  .accessible-megamenu > .accessible-megamenu-top-nav-item {
    background-color: transparent !important;
  }
  #main-menu {
    .menu--level-1 {
      @media only screen and (max-width: $narrowmax) {
        background-color: transparent;
        padding: 0.5em;
      }
    }
    ul.menu {
      li {
        > ul {
          @media only screen and (min-width: $narrow) {
            background-color: $light;
            border: 2px solid $grey;
          }
        }
      }
    }
  }

  .color-wrapper {
    select {
      &:hover {
        outline: 5px solid $grey;
        outline-offset: 2px;
      }
      &:focus {
        outline: 5px dashed $grey;
        outline-offset: 2px;
      }
    }
  }

  .layout-container a {
    @include transition(color 0.5s ease);
    color: $link;
    text-decoration-color: $link;
    &:hover {
      @include transition(color 0.5s ease);
      color: $link_hover;
      text-decoration-color: $link_hover;
    }
    &:focus {
      border-bottom: 2px solid $link_hover;
      border-top: 2px solid $link_hover;
      color: $link_hover;
      outline: none;
      padding: 5px 0;
      text-decoration: none;
    }
  }
  .menu__link--button {
    &:focus {
      @include transition(color 0.5s ease);
      color: $link_hover;
      outline: 2px solid $link_hover;
      outline-offset: -2px;
    }
    &.menu__link--active-trail {
      @include transition(color 0.5s ease);
      color: $button;
      text-decoration: underline;
      text-decoration-color: $button;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
  #main-menu {
    a.menu__link {
      @include transition(color 0.5s ease);
      color: black;
      &.is-active {
        @include transition(color 0.5s ease);
        color: $button;
        text-decoration: underline;
        text-decoration-color: $link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
      &:hover {
        @include transition(color 0.5s ease);
        color: $link_hover;
        text-decoration: underline;
        text-decoration-color: $link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
      }
      &:focus {
        @include transition(color 0.5s ease);
        color: $link_hover;
      }
      &.menu__link--level-1:hover {
        text-decoration: underline;
        text-decoration-color: $link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
      &:focus {
        outline: 2px solid $link_hover;
        outline-offset: -2px;
      }
      &.menu__link--level-2:focus {
        border: none;
        font-weight: normal;
        outline-offset: 2px;
        padding: 0;
      }
    }
    .menu__link--button {
      @include transition(color 0.5s ease);
      color: black;
      &:hover,
      &:focus {
        @include transition(color 0.5s ease);
        color: $link_hover;
      }
      &.menu__link--level-1:hover {
        text-decoration: underline;
        text-decoration-color: $link_hover;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
      }
      &.menu__link--active-trail {
        @include transition(color 0.5s ease);
        color: $button;
        text-decoration: underline;
        text-decoration-color: $button;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        &:hover,
        &:focus {
          @include transition(color 0.5s ease);
          color: $link_hover;
          text-decoration: underline;
          text-decoration-color: $button;
          text-decoration-thickness: 2px;
          text-underline-offset: 6px;
        }
        &:focus {
          outline: 2px solid $link_hover;
          outline-offset: -2px;
        }
      }
    }
  }
  .layout-container a[href^="https://"]:after
  {
    background-image: url(../images/icons8-external-link.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
  }

  blockquote {
    border-left: 4px solid $link;
  }
  cite {
    color: $grey;
  }
  code {
    color: $text;
  }
  footer {
    background-color: #BBC9F7;
  }
  .webform-button--submit,
  .js-form-submit {
    @include transition(background-color 0.5s ease);
    background-color: $button;
    border: none;
    color: white;
    &:focus,
    &:hover {
      @include transition(background-color 0.5s ease);
      background-color: $link_hover;
      text-decoration: underline;
      text-decoration-color: white;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
    }
    &:focus {
      outline: 5px solid black;
    }
  }

  .field--name-field-source-material {
    background-color: #DFE7FC;
    border: 5px solid #BBC9F7;
  }

  .code-container {
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 1em;
  }
}
