@import "variables";
// Dark preference
body.dark {
  background-color: $dark_background;
  color: $dark_text;

  .skip-link.visually-hidden.focusable:active,
  .skip-link.visually-hidden.focusable:focus {
    background: black;
    color: $dark_link;
  }

  .header-wrapper {
    background-color: $dark_complementary;
  }

  .site-name,
  .site-slogan {
    color: $dark_text;
  }

  .color-wrapper {
    select {
      &:hover,
      &:focus {
        outline: 5px solid $dark_grey;
      }
    }
  }

  .layout-container a {
    color: $dark_link;
    &:hover {
      color: $dark_link_hover;
    }
    &:focus {
      border-bottom: 5px solid $dark_grey;
      outline: none;
      padding-bottom: 2px;
    }
    &.mburger {
      color: $dark_text;
      &:focus,
      &:hover {
        color: $dark_grey;
      }
    }
  }
  .layout-container a[href^="https://"]:after
  {
    background-image: url(../images/icons8-external-link-white.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
  .wp-block-quote {
    border-left: 4px solid $dark_link;
  }
  .wp-block-quote__citation,
  .wp-block-quote cite,
  .wp-block-quote footer {
    color: $dark_grey;
  }
  code {
    color: $dark_text;
  }
  footer {
    background-color: transparent;
    border-top: 10px solid $dark_complementary;
  }

  .js-form-type-textfield,
  .js-form-type-email,
  .js-form-type-password {
    input {
      color: black;
    }
  }
  .js-form-type-textarea {
    textarea {
      color: black;
    }
  }

  .webform-button--submit,
  .js-form-submit {
    background-color: $dark_button;
    border: none;
    color: black;
    &:focus,
    &:hover {
      background-color: $dark_link_hover;
      text-decoration: underline;
    }
  }
}
body.dark.path-sitemap {
  .menu-item--expanded {
    list-style-image: url("../images/menu-expanded.png");
  }
}

// Light preference
body.light {
  background-color: $background;
  color: $text;

  .skip-link.visually-hidden.focusable:active,
  .skip-link.visually-hidden.focusable:focus {
    background: white;
    color: $link;
  }

  .header-wrapper {
    background-color: $complementary;
  }

  .color-wrapper {
    select {
      &:hover,
      &:focus {
        outline: 5px solid $grey;
      }
    }
  }

  .layout-container a {
    color: $link;
    &:hover {
      color: $link_hover;
    }
    &:focus {
      border-bottom: 5px solid $grey;
      outline: none;
      padding-bottom: 2px;
    }
    &.mburger {
      color: $text;
      &:focus,
      &:hover {
        color: $grey;
      }
    }
  }
  .layout-container a[href^="https://"]:after
  {
    background-image: url(../images/icons8-external-link.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
  .site-name,
  .site-slogan {
    color: $text;
  }
  .wp-block-quote {
    border-left: 4px solid $link;
  }
  .wp-block-quote__citation,
  .wp-block-quote cite,
  .wp-block-quote footer {
    color: $grey;
  }
  code {
    color: $text;
  }
  footer {
    background-color: #ebf7ff;
    border-top: 1px solid $complementary;
  }
  .webform-button--submit,
  .js-form-submit {
    background-color: $button;
    border: none;
    color: white;
    &:focus,
    &:hover {
      background-color: $link_hover;
      text-decoration: underline;
    }
    &:focus {
      outline: 5px solid black;
    }
  }
}
