// Drupal edit tools

.layout-container {
  .block-local-tasks-block {
    ul.primary {
      display: flex;
      flex-flow: row wrap;
      li {
        background-color: white;
        border: 1px solid black;
        margin: 0;
        padding: 5px;
      }
    }
    ul.primary a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      &:hover {
        background-color: #454545;
        text-decoration-thickness: 2px;
        text-decoration: underline;
      }
      &:focus {
        padding: 8px 16px;
      }
    }
    a.is-active {
      background-color: black;
      color: white;
    }
  }
}

body.dark .layout-container .block-local-tasks-block {
  a {
    color: black;

    &:hover {
      color: wheat;
      text-decoration-thickness: 2px;
    }

    &.is-active {
      color: white;

      &:hover {
        color: wheat;
      }
    }
  }
}

body.light .layout-container .block-local-tasks-block {
  a {
    &:hover {
      color: white;
      text-decoration-color: white;
    }
  }
}
