.js-form-type-textfield,
.js-form-type-email,
.js-form-type-password {
  label {
    display: block;
  }
  input {
    padding: 0.6em 0.8em;
  }
}
.js-form-type-textarea {
  textarea {
    padding: 0.6em 0.8em;
  }
}

.webform-button--submit,
.js-form-submit {
  font-weight: 700;
  padding: 0.7em 1.2em;
}
.views-exposed-form {
  .form--inline {
    margin: 1em 0;
    @media only screen and (min-width: $medium) {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 0;
      .form-item {
        margin-right: 1.5em;
      }
    }
  }
  .form-type-text-field {
    margin-right: 2em;
  }
  label {
    margin-bottom: 0.5em;
    @media only screen and (min-width: $medium) {
      display: inline;
      margin-bottom: 0;
      margin-right: 1em;
    }
  }
  @media only screen and (max-width: $mediummax) {
    .form-text {
      width: calc(100% - 1.6em);
    }
  }
}

.region-featured-top {
  .views-exposed-form {
    .form--inline {
      @media only screen and (min-width: $medium) {
        justify-content: flex-end;
      }
    }
  }
}

.region-content {
  .views-exposed-form {
    .form--inline {
      @media only screen and (min-width: $medium) {
        align-items: flex-end;
      }
    }
    label {
      @media only screen and (min-width: $medium) {
        display: block;
        margin-bottom: 0.5em;
      }
    }
  }
}
