:root.light {
  --button-bg-color: #014cbc;
  --button-bg-hover-color: #54007b;
}

:root.dark {
  --button-bg-color: #9edcff;
  --button-bg-hover-color: wheat;
}

.js-form-type-textfield,
.js-form-type-email,
.js-form-type-password {
  label {
    display: block;
  }
  input {
    color: black;
    padding: 10px 13px;
  }
}
.js-form-type-textarea {
  textarea {
    color: black;
    padding: 10px 13px;
  }
}

.webform-button--submit,
.js-form-submit {
  @include transition(background-color 0.5s ease);
  background-color: var(--button-bg-color);
  border: none;
  color: black;
  font-weight: 700;
  padding: 12px 19px;
  &:focus,
  &:hover {
    @include transition(background-color 0.5s ease);
    background-color: var(--button-bg-hover-color);
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }
}
.views-exposed-form {
  .form--inline {
    margin: 1em 0;
    @media only screen and (min-width: $medium) {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 0;
      .form-item {
        margin-right: 1.5em;
      }
    }
  }
  .form-type-text-field {
    margin-right: 32px;
  }
  label {
    margin-bottom: 0.5em;
    @media only screen and (min-width: $medium) {
      display: inline;
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
  @media only screen and (max-width: $mediummax) {
    .form-text {
      width: calc(100% - 25px);
    }
  }
}

.region-featured-top {
  .views-exposed-form {
    .form--inline {
      @media only screen and (min-width: $medium) {
        justify-content: flex-end;
      }
    }
  }
}

.region-content {
  .views-exposed-form {
    .form--inline {
      @media only screen and (min-width: $medium) {
        align-items: flex-end;
      }
    }
    label {
      @media only screen and (min-width: $medium) {
        display: block;
        margin-bottom: 0.5em;
      }
    }
  }
}
