.js-form-type-textfield,
.js-form-type-email,
.js-form-type-password {
  label {
    display: block;
  }
  input {
    padding: 0.5em 0.8em;
  }
}
.js-form-type-textarea {
  textarea {
    padding: 0.5em 0.8em;
  }
}

.webform-button--submit,
.js-form-submit {
  font-weight: 700;
  padding: 0.7em 1.2em;
}
