@import "variables";

body {
  @include fontSize(18px);
  font-family: "Quicksand", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h2,
h3 {
  @media only screen and (min-width: $medium) {
    margin-top: 2em;
  }
}

.layout-container {
  a {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  a[href^="https://"]:after
  {
    content: "";
    display: inline-block;
    height: 20px;
    width: 30px;
  }
  #main-menu {
    a.menu__link {
      font-weight: bold;
      text-decoration: none;
      &:focus {
        border-bottom: 2px solid transparent;
      }
    }
    a.menu__link--level-2,
    a.menu__link--level-3 {
      font-weight: normal;
    }
    .menu__link--button {
      font-weight: bold;
      &:focus {
        border-bottom: 2px solid transparent;
      }
    }
  }
}

header {
  a {
    font-weight: normal;
  }
}

.region-content {
  li {
    //line-height: 2.2;
    margin: 0.5em 0;
  }
}

.wp-block-quote {
  @include fontSize(20px);
  font-style: italic;
  padding: 0.2em 0 0.2em 1em;
  p {
    margin: 0;
    padding: 0;
  }
}
.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
  @include fontSize(16px);
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
