@import "variables";

body {
  @include fontSize(18px);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

h1 {
  @include fontSize(28px);
  @media only screen and (min-width: $medium) {
    @include fontSize(32px);
  }
}

h2 {
  @include fontSize(26px);
  @media only screen and (min-width: $medium) {
    @include fontSize(30px);
  }
}

h3 {
  @include fontSize(24px);
  @media only screen and (min-width: $medium) {
    @include fontSize(28px);
  }
}

h3 {
  @include fontSize(22px);
  @media only screen and (min-width: $medium) {
    @include fontSize(26px);
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h2,
h3,
h4 {
  @media only screen and (min-width: $medium) {
    margin-top: 2em;
  }
}

.layout-container {
  a {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  a[href^="https://"]:after
  {
    content: "";
    display: inline-block;
    height: 1.25em;
    width: 1.875em;
  }
  #main-menu {
    a.menu__link {
      font-weight: normal;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
    .menu--level-1 {
      a.menu__link {
        font-weight: normal;
        text-decoration: none;
        &:focus {
          border-bottom: 2px solid transparent;
        }
      }
    }
    .menu__link--button {
      font-weight: normal;
      &:focus {
        border-bottom: 2px solid transparent;
      }
    }
    .menu--level-2 {
      a.menu__link {
        font-weight: normal;
        line-height: 1.5em;
        &:focus {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

header {
  a {
    font-weight: normal;
  }
}

.region-content {
  li {
    margin: 0.5em 0;
  }
}

blockquote {
  @include fontSize(20px);
  font-style: italic;
  margin: 0;
  padding: 0.2em 0 0.2em 1em;
  p {
    margin: 0;
    padding: 0;
  }
}
cite {
  @include fontSize(16px);
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.view-site-search {
  h2 {
    @include fontSize(22px);
    @media only screen and (min-width: $medium) {
      @include fontSize(24px);
    }
  }
}

.field--name-field-source-material {
  @media only screen and (max-width: $mediummax) {
    a {
      font-size: 1rem;
    }
  }
}
