@import "variables";

.header-wrapper {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  padding: $gutter-32 0 $gutter-32 0;
  position: relative;
  text-align: center;
  @media only screen and (min-width: 500px) {
    padding: $gutter-32 0;
  }
}

.language-switcher-language-url {
  position: absolute;
  text-align: left;
  top: 7rem;
  width: 50%;
  z-index: 2;
  @media only screen and (min-width: $medium) {
    right: 0;
    top: 35px;
    width: auto;
  }

  .links {
    list-style: none;
    padding-left: 0;
  }

  .is-active {
    display: none;
    visibility: hidden;
  }
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  position: relative;
  width: 90%;
  @media only screen and (min-width: $medium) {
    align-items: center;
    justify-content: space-between;
    max-width: 70em;
    padding: $gutter-8 0;
    width: 90%;
  }
  @media only screen and (min-width: $large) {
    max-width: 764px;
    padding: $gutter-16 $gutter-32;
    width: calc(100% - 64px);
  }
}

.region-header {
  text-align: center;
  width: 100%;
}

.region-featured-top {
  overflow: hidden;
  width: 100%;

  .views-exposed-form {
    margin: 0 auto;
    padding: 0 20px;
    width: calc(100% - 40px);
    @media only screen and (min-width: $medium) {
      max-width: 70em;
      padding: 0;
      width: 90%;
    }
    @media only screen and (min-width: $large) {
      max-width: 764px;
      padding: 0 $gutter-32;
      width: calc(100% - 64px);
    }
  }
}

.block-system-breadcrumb-block {
  margin: 1.5em auto 0 auto;
  max-width: 47rem;
  padding: 0 20px;
  width: calc(100% - 40px);
  @media only screen and (min-width: $large) {
    justify-content: space-between;
    padding: 0 $gutter-32;
    width: calc(100% - 64px);
  }
}
.main-content {
  display: flex;
  flex-flow: row wrap;
  @media only screen and (min-width: $medium) {
    flex-flow: row nowrap;
  }
}
.layout-content {
  margin: 0 auto;
  max-width: 47rem;
  padding: 0 20px;
  width: calc(100% - 40px);
  @media only screen and (min-width: $large) {
    padding: 0 $gutter-32;
    width: calc(100% - 64px);
  }
}
.region-featured-bottom-first {
  margin: 0 auto;
  max-width: 47rem;
  width: 80%;
  @media only screen and (min-width: $large) {
    padding: 0 $gutter-32;
    width: calc(100% - 64px);
  }
}

footer {
  margin-top: 5em;
  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: $gutter-32 0 $gutter-16 0;
    width: 90%;
    @media only screen and (min-width: $large) {
      max-width: 764px;
      padding: $gutter-32 $gutter-32 $gutter-16 $gutter-32;
      width: calc(100% - 64px);
    }
  }
  .region-footer-first {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0.5em 0;
    }
  }
}

// Add more margin to the front page
.path-frontpage {
  .region-content {
    margin-top: 48px;
  }
}

.field--name-field-source-material {
  margin-top: 48px;
  padding: $gutter-32;
  @media only screen and (min-width: $medium) {
    margin-top: 80px;
  }


}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
