@import "variables";

.header-wrapper {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 2em 0 2em 0;
  position: relative;
  text-align: center;
  @media only screen and (min-width: 500px) {
    padding: 2em 0;
  }
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 90%;
  @media only screen and (min-width: $medium) {
    align-items: center;
    justify-content: space-between;
    max-width: 70em;
    padding: 0.5em 0;
    width: 90%;
  }
  @media only screen and (min-width: $large) {
    max-width: 74em;
    padding: 1em 2em;
    width: calc(100% - 4em);
  }
}

.region-header {
  text-align: center;
  width: 100%;
  @media only screen and (min-width: $medium) {
    width: auto;
  }
}

.region-featured-top {
  overflow: hidden;
  width: 100%;

  .views-exposed-form {
    margin: 0 auto;
    width: 80%;
    @media only screen and (min-width: $medium) {
      max-width: 70em;
      width: 90%;
    }
    @media only screen and (min-width: $large) {
      max-width: 74em;
      padding: 0 2em;
      width: calc(100% - 4em);
    }
  }
}

.color-wrapper {
  padding: 1em 0;
  label {
    margin-right: 0.4em;
  }
  select {
    color: initial;
    border: 10px solid white;
    outline: 1px solid black;
  }
}
.block-system-breadcrumb-block {
  margin: 1.5em auto 0 auto;
  width: 80%;
  @media only screen and (min-width: $large) {
    justify-content: space-between;
    max-width: 74em;
    padding: 0 2em;
    width: calc(100% - 4em);
  }
}
.main-content {
  display: flex;
  flex-flow: row wrap;
  @media only screen and (min-width: $medium) {
    flex-flow: row nowrap;
  }
}
.layout-content {
  margin: 0 auto;
  width: 80%;
  @media only screen and (min-width: $large) {
    max-width: 74em;
    padding: 0 2em;
    width: calc(100% - 4em);
  }
}
.region-featured-bottom-first {
  margin: 0 auto;
  width: 80%;
  @media only screen and (min-width: $large) {
    max-width: 74em;
    padding: 0 2em;
    width: calc(100% - 4em);
  }
}

footer {
  margin-top: 5em;
  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2em 0 1em 0;
    width: 90%;
    @media only screen and (min-width: $large) {
      max-width: 74em;
      padding: 2em 2em 1em 2em;
      width: calc(100% - 4em);
    }
  }
  .region-footer-first {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0.5em 0;
    }
  }
}

// Add more margin to the front page
.path-frontpage {
  .region-content {
    margin-top: 3em;
  }
}

.field--name-field-source-material {
  margin-top: 3em;
  padding: 2em;
  @media only screen and (min-width: $medium) {
    margin-top: 5em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
