@import "variables";

.skip-link.visually-hidden.focusable:active,
.skip-link.visually-hidden.focusable:focus {
  left: 0;
  padding: 0.5em 1em;
  position: absolute !important;
  top: 25px;
  z-index: 2;
}

// Reset some of the menu
.accessible-megamenu {
  background-color: transparent !important;
  border: none !important;
  text-shadow: none !important;
  @media only screen and (max-width: 1049px) {
    margin-bottom: 1em;
  }
}
.accessible-megamenu > .accessible-megamenu-top-nav-item {
  border-right: none !important;
  text-shadow: none !important;
}
.accessible-megamenu .accessible-megamenu-panel,
.nav-menu.show .sub-nav.open {
  background-image: none !important;
  box-shadow: none !important;
  @media only screen and (max-width: 1049px) {
    margin-bottom: 0 !important;
    margin-left: 1em !important;
    padding-bottom: 0 !important;
  }
}
.accessible-megamenu-toggle {
  height: 3em !important;
  padding: 0.5em !important;
  right: 0 !important;
  top: -35px !important;
  width: 3em !important;
  @media only screen and (min-width: $medium) and (max-width: 1049px) {
    top: -55px !important;
  }
}
.accessible-megamenu-toggle > span {
  left: 2px;
}
.sr-only {
  background: transparent !important;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  position: absolute;
}
.primary-menu {
  @media only screen and (max-width: 1049px) {
    min-height: 50px;
    width: 100%;
  }
  @media only screen and (min-width: $medium) and (max-width: 1049px) {
    margin-top: -35px;
  }
}

#main-menu {
  position: relative;
  @media only screen and (max-width: 1049px) {
    margin-top: 2.5em;
  }
  @media only screen and (min-width: 1050px) and (max-width: 1269px) {
    margin-top: 1.5em;
  }
  ul.menu {
    margin-left: 0;
    @media only screen and (min-width: 1050px) {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
    }
    li {
      display: block;
      margin: 0;
      padding: 0.3em;
      position: relative;
      @media only screen and (min-width: 1050px) {
        align-items: center;
        display: flex;
        padding: 0;
      }
      &.accessible-megamenu-top-nav-item {
        > a {
          border: 1px solid transparent;
          display: block;
          padding: 0.25em 1em;
          @media only screen and (min-width: 1050px) {
            padding: 0.7em 1em;
          }
        }
        > button {
          padding: 0.25em 2em 0.25em 1em;
          @media only screen and (min-width: 1050px) {
            padding: 0.7em 2em 0.7em 1em;
          }
        }
      }
    }
    li {
      > ul {
        @media only screen and (min-width: 1050px) {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          left: 0;
          min-width: 12em;
          padding: 1em 1em 0.5em 1em;
          position: absolute;
          top: 54px;
          width: 100%;
          z-index: 10;
          li {
            margin: 5px 0;
            padding: 0;
            width: 100%;
          }
        }
      }
    }
    li:last-of-type {
      > ul {
        @media only screen and (min-width: 1050px) {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
button.menu__link {
  background-color: transparent;
  background-image: url("../images/chevron-down.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: 1px solid transparent;
  padding: 0 30px 0 0;
  &.open {
    background-image: url("../images/chevron-up.svg");
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    @media only screen and (min-width: 1050px) {
      border: 1px solid $grey;
    }
  }
  &:focus {
    outline: none;
  }
}
.menu--level-2 {
  display: none;
  visibility: hidden;
}

.menu--level-2.open {
  display: block;
  visibility: visible;
}

.dark {
  button.menu__link {
    background-color: transparent;
    background-image: url("../images/chevron-down-dark.svg");
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 1px solid transparent;
    padding: 0 30px 0 0;
    &.open {
      background-image: url("../images/chevron-up-dark.svg");
      background-position: 95% center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      @media only screen and (min-width: 1039px) {
        border: 1px solid $dark_grey;
      }
    }
  }
}

.path-sitemap {
  .region-content {
    .menu--level-2 {
      display: block;
      visibility: visible;
    }
  }
}
