@import "variables";

.skip-link.visually-hidden.focusable:active,
.skip-link.visually-hidden.focusable:focus {
  left: 0;
  padding: 0.5em 1em;
  position: absolute !important;
  top: 25px;
  z-index: 2;
}

#main-menu {
  .menu-toggle {
    background-color: transparent;
    background-image: url("../images/chevron-down.svg");
    border: none;
    height: 20px;
    margin-left: 0.5em;
    padding: 0;
    text-indent: -9999px;
    width: 20px;
  }
  ul.menu {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    ul {
      display: none;
      visibility: hidden;
    }
    li {
      align-items: center;
      display: flex;
      padding: 0.5em 1em;
      position: relative;
    }
    li.show-children {
      background-color: $complementary;
      > .menu-toggle {
        transform: rotate(180deg);
      }
      > ul {
        background-color: $complementary;
        display: block;
        left: 0;
        padding: 0.5em 1em;
        position: absolute;
        top: 46px;
        visibility: visible;
        width: 100%;
        li {
          margin: 5px 0;
          padding: 0;
        }
      }
    }
  }
  .menu-item--expanded {
    list-style-type: none;
    list-style-image: none;
  }
}
