.view-site-search {
  .view-content {
    margin: 2em 0;
  }
  .views-row {
    border-top: 1px dashed #616161;
    padding: 30px 20px;

    &:last-of-type {
      border-bottom: 1px dashed #616161;
    }
  }
  h2 {
    margin-top: 0;
  }
  .pager {
    margin-top: 4em;
  }

  .pager__item {
    a {
      padding: 0.5em;
    }
  }
  .pager__item:not(.is-active) {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
      }
    }
  }
  .pager__item.is-active {
    a {
      border: 1px solid var(--link-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
      }
    }
  }
}

.node--view-mode-search-index {
  p:last-of-type {
    margin-bottom: 0;
  }
}

