// Light mode
$text: #000000;
$background: white;
$link: #0162f4;
$link_hover: #a8004f;
$grey: #545454;
$complementary: #9edcff;
$button: #014cbc;

// Dark mode
$dark_text: white;
$dark_background: #020013;
$dark_link: #9edcff;
$dark_link_hover: #ff7ab8;
$dark_grey: #bababa;
$dark_complementary: #030028;
$dark_button: #a9bdfe;

// Width variables
$medium: 768px;
$large: 1250px;
$mediummax: 767px;
$largemax: 1249px;
