@import "branding";
@import "drupal_tools";
@import "global_typography";
@import "layout";
@import "navigation";
@import "header_image";
@import "color_scheme";
@import "demos";
@import "forms";
@import "maintenance";
@import "blog_highlights";

@media only screen and (max-width: 1049px) {
  .megamenu {
    .mobile-menu-toggle[aria-expanded="false"] + ul.menu--level-1 {
      display: none !important;
      visibility: hidden !important;
    }
    .mobile-menu-toggle[aria-expanded="true"] + ul.menu--level-1 {
      display: block !important;
      visibility: visible !important;
    }
  }
}
